/* Typography style rules */
@import url("./fonts.css"); /* Webfont definitions */

h2,h3{
    font-family: FortesquePro;
}

h2{
    font-weight: bold;
}

.small-title{ /* Typeface for smaller titles and button text */
    font-family: BrownStd;
    font-weight: bold;
    letter-spacing: .1em;
    font-variant: small-caps;
}

.description-short .row{
    font-family: FortesquePro;
}
